
/* my stylesheet */
.error{
	border: 2px solid red;
}
.container{
	display: flex;
	justify-content: center;
	padding: 10px;
	
}
.formContainer{
	width: 700px;
	height: auto;
	background-image: url('../../imagenes/neon1.jpg');
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}
.container p{
	color: white;
}

.container h4 { 
	color: white;
	text-align: center;
	font-weight: normal;
}

.container input{
	padding: 10px;
	border-radius: 10px;
}

.container strong {
color: white;	
}
.container label {
	color: white;	
	}

.container_btn{
	display: flex;
	justify-content: center;
	padding: 10px;
	gap: 50px;
	}
.containercheck{
	width: 50%;
	padding: 1em;
	display: flex;
	flex-direction: column;
}
.containercheck label{
    font-size: 15px;
   
}
.containercheck input{
	position:relative;
	top: 4%;
}

.button {
 
		padding: 0.6em 2em;
		border: none;
		outline: none;
		color: rgb(255, 255, 255);
		background: #111;
		cursor: pointer;
		position: relative;
		z-index: 0;
		border-radius: 10px;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
	  }
	  
	  .button:before {
		content: "";
		background: linear-gradient(
		  45deg,
		  #ff0000,
		  #ff7300,
		  #fffb00,
		  #48ff00,
		  #00ffd5,
		  #002bff,
		  #7a00ff,
		  #ff00c8,
		  #ff0000
		);
		position: absolute;
		top: -2px;
		left: -2px;
		background-size: 400%;
		z-index: -1;
		filter: blur(5px);
		-webkit-filter: blur(5px);
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		animation: glowing-button-85 20s linear infinite;
		transition: opacity 0.3s ease-in-out;
		border-radius: 10px;
	  }
	  
	  @keyframes glowing-button-85 {
		0% {
		  background-position: 0 0;
		}
		50% {
		  background-position: 400% 0;
		}
		100% {
		  background-position: 0 0;
		}
	  }
	  
	  .button:after {
		z-index: -1;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #222;
		left: 0;
		top: 0;
		border-radius: 10px;
	  }